@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <img src="https://media.istockphoto.com/vectors/mom-teaching-kids-to-take-care-about-home-plants-vector-id1289187313?k=6&amp;m=1289187313&amp;s=612x612&amp;w=0&amp;h=7eb0o5U_pyjG0YNY6q76BtgWO1ZLR0fRRJnrsS4JtB8=">
    </div>
    <div class="col-md-6" style="margin-top:30px; padding:90px;">
        
        <p class="lead">"Man Shapes himself through decisions that shape his enviroment."</p>
        <p class="">--Rene Dubos</p>
        <p><a href="/Home/About" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </div>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Learn Tree Plantation</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Visit Plants Near You</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Participate In Green Events</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>